@import '@/styles/typografy.scss';

.secondaryBtn {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 43px;
  left: 30px;

  text-decoration: none;
  color: $White;

  padding: 7px 20px;

  z-index: 2;
}

.secondaryBtnTitle {
  @include p_big;
}

.secondaryBtn:hover {
  text-decoration: none;
  border-radius: 50px;
  background-color: $Green400;
}

.secondaryBtn:active {
  border-radius: 50px;
  background: $Orange200 !important;
}

@media (max-width: 475px) {
  .secondaryBtn {
    padding: 0;
    left: 25px;
    bottom: 26.5px;
  }
}
