@import "@/styles/typografy.scss";

.cardContainerBig {
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;

  max-width: 1170px;
  height: 567px;

  width: 100%;
}
.cardContainerBig:not(:last-child) {
  margin-bottom: 50px;
}

.cardBig {
  //   min-width: 1170px;
  width: 100%;
  height: 100%;
  color: $White;
  position: relative;
}
.cardBg {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: bottom;

  transition: all 0.3s ease;

  z-index: -2;
}

.cardBig:hover .cardBg {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.cardBig:hover .secondary_btn {
  text-decoration: none;

  border-radius: 50px;
  background: $Green400;
}

.cardBigContentd2 {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 60px;
  color: $White;
}

.grad2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 2;
}

.cradBigTitle {
  @include h3;
  margin-bottom: 37px;
}
.cardBigSubtitle {
  @include p_normal;
  max-width: 554px;
}
.cardBigSubtitleList {
  margin-left: 25px;
  margin-top: 30px;
}

.cardSocials {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 60px;

  display: flex;
  gap: 35px;
}
.subtitleListItem {
  @include p_normal;
}
.socialsItem {
  @include p_normal;
  color: $White;
}
.socialsItem:active {
  color: $Orange200;
}

/* TABLET */

@media (max-width: 768px) {
  .cardSocials {
    display: none;
  }
}

@media (max-width: 535px) {
  .cardContainerBig {
    height: 622px;
  }
}
/* MOBILE */
@media (max-width: 475px) {
  .cardContainerBig {
    height: 455px;
    border-radius: 25px;
  }

  .cardBigSubtitleList {
    margin-top: 25px;
  }

  .cradBigTitle {
    margin-bottom: 20px;
    // width: 50%;
    max-width: 269px;
  }
  .cardBigContentd2 {
    padding: 30px;
  }
  .cardSocials {
    display: none;
  }
  .stories__btn {
    bottom: 31.5px !important;
    left: 30px !important;
  }
}
